<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@800&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200&display=swap"
          rel="stylesheet">
    <title>Росмолодежь</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>

<div class="wrapper">
    {% include 'inc/_header.html' %}

    {% block content %}CONTENT{% endblock %}

    {% include 'inc/_footer.html' %}
</div>

</body>
</html>