<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta
            name="description"
            content="Digital-систему для онбординга новых сотрудников с элементами геймификации"
    />
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>

<div class="conteiner">
    {% include 'inc/_nav.html' %}

    {% block content %}CONTENT{% endblock %}
</div>

<script>
        window.onload = function() {
            document.getElementById('close').onclick = function () {
                document.getElementById('pb').style.display = 'none';
            }
            document.getElementById('link1').onclick = function () {
                document.getElementById('myElement1').style.backgroundColor = '#DAEF14';
                document.getElementById('pb').style.display = 'block';
                document.getElementById('myElement1').style.borderRadius = '25px';
                document.getElementById('myElement2').style.backgroundColor = '';
                document.getElementById('myElement3').style.backgroundColor = '';
                document.getElementById('myElement4').style.backgroundColor = '';
                return false;
            }
            document.getElementById('link2').onclick = function () {
                document.getElementById('myElement2').style.backgroundColor = '#DAEF14';
                document.getElementById('myElement2').style.borderRadius = '25px';
                document.getElementById('myElement1').style.backgroundColor = '';
                document.getElementById('myElement3').style.backgroundColor = '';
                document.getElementById('myElement4').style.backgroundColor = '';
                return false;
            }
            document.getElementById('link3').onclick = function () {
                document.getElementById('myElement3').style.backgroundColor = '#DAEF14';
                document.getElementById('myElement3').style.borderRadius = '25px';
                document.getElementById('myElement1').style.backgroundColor = '';
                document.getElementById('myElement2').style.backgroundColor = '';
                document.getElementById('myElement4').style.backgroundColor = '';
                return false;
            }
            document.getElementById('link4').onclick = function () {
                document.getElementById('myElement4').style.backgroundColor = '#DAEF14';
                document.getElementById('myElement4').style.borderRadius = '25px';
                document.getElementById('myElement1').style.backgroundColor = '';
                document.getElementById('myElement2').style.backgroundColor = '';
                document.getElementById('myElement3').style.backgroundColor = '';
                return false;
            }
        }
</script>
</body>
</html>