{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="content">
        <div class="signin">
            <div class="content">
                <h2>Вход</h2>
                <div class="form">
                    <div class="inputBx">
                        <i>{{ form.username.label }}</i>
                        {{ form.username }}
                        <p>{{ form.username.errors }}</p>
                    </div>
                    <div class="inputBx">
                        <i>{{ form.password.label }}</i>
                        {{ form.password }}
                        <p>{{ form.password.errors }}</p>
                    </div>

                    <div class="links">
                        <a href="#">Забыли пароль?</a>
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="Войти">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

