@font-face {
  font-family: 'GTE';
  src:url(./GTE/GTEestiProText-Light.woff) format('woff'),
  url(./GTE/GTEestiProText-Light.woff2) format('woff2');
  font-style:  normal;
  font-weight: 300;
}

@font-face {
  font-family: 'GTE';
  src:url(./GTE/GTEestiProDisplay-Regular.woff) format('woff'),
  url(./GTE/GTEestiProDisplay-Regular.woff2) format('woff2');
  font-style:  normal;
  font-weight: 400;
}

@font-face {
  font-family: 'GTE';
  src:url(./GTE/GTEestiProText-Medium.woff) format('woff'),
  url(./GTE/GTEestiProText-Medium.woff2) format('woff2');
  font-style:  normal;
  font-weight: 500;
}